<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelloWorldHelicopter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HelloWorldHelicopter.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Gravity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="TerminalVelocity" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="LevelProbability" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CaveHeight" serializeAs="String">
                <value>10</value>
            </setting>
        </HelloWorldHelicopter.Properties.Settings>
    </applicationSettings>
</configuration>